{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <form action="{% url 'delete_data' %}" method="POST">
                     <!-- Token -->
                    {% csrf_token %}
                    <input class="btn btn-warning" type="submit"  value="Delete data" >
                    <!-- Action -->
                    <input type="hidden" id="form_action" value="delete" name="delete">
                </form>
        <form action="{% url 'get_data' %}" method="POST">
                     <!-- Token -->
                    {% csrf_token %}
                    <input class="btn btn-warning" type="submit"  value="Get Data" >
                    <!-- Action -->
                    <input type="hidden" id="form_action" value="get" name="get">
                </form>
        <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="cmd"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <h4>Top 10 stations with the oldest data:</h4>
    <table id="dataTablde" class="table table-bordered dataTable" >
    <thead>
        <tr>
            <th>Station ID</th>
            <th>Country</th>
            <th>Coordinates</th>
            <th>Municipality</th>
            <th>Stationholder</th>
            <th>Validfrom</th>
        </tr>
    </thead>
    <tbody>
    {% for station in stations %}
        <tr>
            <td>{{ station.station_id }}</td>
            <td>{{ station.country }}</td>
            <td>{{ station.geometry }}</td>
            <td>{{ station.municipality }}</td>
            <td>{{ station.stationholder }}</td>
            <td data-order="{{ forloop.counter }}">{{ station.validfrom }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


    </script>
{% endblock %}